@use 'colors';

.Header {
  padding: 20px clamp(10px, 3vw, 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .Logo {
    padding: 6px;

    font: {
      size: 22px;
      weight: 600;
    }
  }

  form {
    display: flex;
    gap: 4px;
    flex: 1 1;

    input {
      width: 100%;
      padding: 12px 16px;
      background-color: colors.$bg3;
      color: colors.$text;
      border-radius: 10px;
      transition: background-color 0.2s, color 0.2s;

      font: {
        size: 14px;
        family: 'GT Walsheim Pro';
      }

      &:focus {
        background-color: colors.$bg4;
        color: white;
      }
    }
  }

  .Button.Cart {
    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: colors.$text;
      color: colors.$bg;
      border-radius: 10px;
      transition: background-color 0.2s;

      font: {
        size: 14px;
        weight: 600;
      }
    }

    &:hover {
      span {
        background-color: white;
      }
    }
  }
}
