@use 'colors';
@use 'header';
@use 'home';
@use 'game-list';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'GT Walsheim Pro';
  background-color: colors.$bg;
  overflow-x: hidden;
}

.Loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.Button {
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  color: colors.$text;
  user-select: none;
  cursor: pointer;
  transition: transform 0.15s, color 0.2s;

  font: {
    size: 16px;
    weight: 500;
    family: 'GT Walsheim Pro';
  }

  svg {
    transition: transform 0.2s;
  }

  &:hover {
    color: white;
  }

  &:active {
    transform: scale(0.925) !important;
  }
}
